:root {
    --bg-color: #F9F9F9;
    --text-color: rgb(33, 33, 33);
    --bg-color-code: rgba(249, 249, 249, 0.9);
    --box-shadow-color: gray;
    --speed: 1s;
    font-family: Helvetica, Verdana, Geneva;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--speed), color var(--speed);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

body.dark {
    --bg-color: #36404b;
    --bg-color-code: rgba(54, 64, 75, 0.9);
    --text-color: white;
    --box-shadow-color: #282f37;
}

.left-side,
.right-side {
    min-width: 200px;
}

.center-side {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.header h1,
.header span {
    font-size: 30px;
}

.header span {
    font-weight: 100;
}

.tagline {
    color: grey;
    font-size: 15px;
}

.middle {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 50px;
    box-sizing: border-box;
    min-height: 200px;
}

.message-container {
    flex-grow: 1;
}

#messages {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #1967D2;
    font-size: small;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: 100;
    opacity: 0;
}

#messages.showing {
    animation: fadeAnimation 1.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#main-container {
    display: flex;
    flex-grow: 1;
    height: 520px;
    width: 700px;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
    box-shadow: 5px 10px 30px var(--box-shadow-color);
}

.toolbar {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px 5px;
}

.vertical-toolbar {
    background-color: white;
    box-shadow: 0px 0px 20px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
}

.bgcolor-selector {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
}

.bgcolor-selector:hover {
    outline: 2px solid white;
    box-shadow: 0px 2px 10px;
}

.bgcolor-selector.active {
    outline: 3px solid rgb(183, 183, 183);
}

.gradient1 {
    background: #9198e5;
    background: -webkit-linear-gradient(#e66465, #9198e5);
    background-image: linear-gradient(#e66465, #9198e5);

}

.gradient2 {
    background: #f12711;
    background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);
    background: linear-gradient(to bottom, #f5af19, #f12711);
}

.gradient3 {
    background: #11998e;
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    background: linear-gradient(to bottom, #38ef7d, #11998e);
}

.gradient4 {
    background: #3E5151;
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);
    background: linear-gradient(to bottom, #DECBA4, #3E5151);
}

.gradient5 {
    /* outline: 3px solid gray; */
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient6 {
    background: #FFE000;
    background: -webkit-linear-gradient(to bottom, #799F0C, #FFE000);
    background: linear-gradient(to bottom, #799F0C, #FFE000);
}

.plus-sign,
.equal-sign {
    display: flex;
    font-size: larger;
    font-weight: 400;
    justify-content: center;
}

.darkmode {
    background-image: url(img/darkmode.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #141E30;
    background-color: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    background-color: linear-gradient(to bottom, #243B55, #141E30);
}

.lightmode {
    background-image: url(img/lightmode.png);
    background-size: cover;
    background-color: rgb(240, 240, 240);
    outline: 1px solid rgb(233, 233, 233);
}

.download {
    background-image: url(img/download.png);
    background-size: cover;
    background-color: #1967D2;
}

.copy {
    background-image: url(img/copy.png);
    background-size: cover;
    background-color: #1967D2;
}

.code-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-color-code);
    height: 400px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.code-window-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(45, 51, 63, 0.9);
    color: rgb(189, 188, 188);
    font-size: small;
    min-height: 30px;
}

.code-edit {
    display: grid;
    flex-grow: 1;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    color: transparent;
    caret-color: white;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

textarea,
pre {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: medium;
    white-space: pre-wrap;
    padding: 2% 5%;
    line-height: 20px;
}

#color-picker {
    grid-row: 1;
    grid-column: 1;
}

.plus-sign {
    grid-row: 2;
}

.vertical-toolbar.theme-mode {
    grid-row: 3;
    grid-column: 1;
}

.equal-sign {
    grid-row: 4;
}

.vertical-toolbar.action-buttons {
    grid-row: 5;
    grid-column: 1;
}

.vertical-label.action-buttons {
    grid-row: 5;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    padding: 10px;
}

.vertical-label.action-buttons div {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

bgcolor-selector download:hover+.vertical-label.action-buttons {
    background-color: #11998e;
}

.vertical-label.theme-mode {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    padding: 10px;
}

.vertical-label.theme-mode div {
    display: flex;
    flex-grow: 1;
    align-items: center;
}