* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.banner {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

.banner h1,
.banner span {
    color: black;
    font-size: 30px;
    font-family: Helvetica, Verdana, Geneva;
}

.banner span {
    font-weight: 100;
}

.tagline {
    color: grey;
    font-size: 15px;
}

.middle {
    display: flex;
    gap: 20px;
}

.footer {
    min-height: 250px;
}

.main-container {
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(#e66465, #9198e5);
    height: 520px;
    width: 700px;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
    box-shadow: 5px 10px 30px gray;
}

.toolbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical-toolbar {
    background-color: white;
    box-shadow: 0px 0px 20px rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
}

.bgcolor-selector {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
}

.gradient1 {
    /* outline: 3px solid gray; */
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2 {
    background: #f12711;
    background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);
    background: linear-gradient(to bottom, #f5af19, #f12711);
}

.gradient3 {
    background: #11998e;
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
    background: linear-gradient(to bottom, #38ef7d, #11998e);
}

.gradient4 {
    background: #3E5151;
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);
    background: linear-gradient(to bottom, #DECBA4, #3E5151);
}

.gradient5 {
    background: #373B44;
    background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);
    background: linear-gradient(to bottom, #4286f4, #373B44);
}

.gradient6 {
    background: #FFE000;
    background: -webkit-linear-gradient(to bottom, #799F0C, #FFE000);
    background: linear-gradient(to bottom, #799F0C, #FFE000);
}

.plus-sign {
    display: flex;
    font-size: larger;
    font-weight: 400;
    justify-content: center;
}

.code-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(55, 65, 81, 0.8);
    height: 400px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.code-window-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(45, 51, 63, 0.9);
    color: rgb(189, 188, 188);
    font-size: small;
    min-height: 30px;
}

.code-edit {
    display: grid;
    flex-grow: 1;
    color: white;
    overflow: auto;
}

textarea {
    color: transparent;
    caret-color: white;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

textarea,
pre {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: medium;
    white-space: pre-wrap;
    padding: 2% 5%;
}